.button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(252, 252, 169);
  margin: 5px;
  font-weight: bolder;
}

.button:hover {
  background-color: rgb(255, 255, 116);
  cursor: pointer;
}
